{% extends "base.html" %}
{% load humanize %}

{% block content %}

    {% block popular_products %}
        <h3 class="pb-4 my-3 font-italic">Popular products</h3>
        <div class="row mb-2">
            {% for product in popular_products_list %}
                <div class="col-md-6">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-270 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-dark">{{ product.category.name|title }}</strong>
                            <h4 class="mb-0">{{ product.name|title }}</h4>
                            <h4 class="my-3">Price {{ product.price }}</h4>
                            <div class="mb-1 text-muted">Likes {{ product.count_likes }}</div>
                            <p class="card-text mb-auto">{{ product.description|truncatewords:15|safe|title }}</p>
                            <a href="{{ product.get_absolute_url }}" class="stretched-link">Look details</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <img src="{{ product.image_thumbnail.url }}" class="card-img-top" width="250" height="270"
                                 alt="image: {{ product.name }}">
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endblock popular_products %}

    <hr>

    {% block choice_of_week %}
        <h3 class="pb-4 my-3 font-italic">Choice of the Week</h3>
        <div class="card-deck mb-3 text-center">
            {% for grade in grade_list %}
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ grade.grade|title }}</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">{{ grade.value }} products</h1>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endblock choice_of_week %}

    <hr>

    {% block likes_of_week %}
        <h3 class="pb-4 my-3 font-italic">Likes of the Week</h3>
        <div class="card-deck mb-3 text-center">
            {% for hit in hit_list %}
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ hit.pub_date|date:"l" }}</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">{{ hit.hits__sum }} visits</h1>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endblock likes_of_week %}

{% endblock content %}
